<div style="border:1px solid blue; padding:20px;  text-align:center; background-color:#cbfafa">

    <h2>{{friend.name}}</h2>
    <li>Email : {{friend.email}}</li>
    <li>Number : {{friend.number}}</li>
    <li>Work : {{friend.work}}</li>
</div>